* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #888888, #739b73);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
}

.form-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.form {
  display: none;
}

.form.active {
  display: block;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2e7d32;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1b5e20;
}

p {
  text-align: center;
  margin-top: 15px;
}

span {
  color: #2e7d32;
  font-weight: bold;
  cursor: pointer;
}

#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -2;
    opacity: 80%;
}

/* Dark overlay */
.overlay {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.45);
    text-align: center;
    padding-bottom: 40px;
}
.oauth {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.oauth button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #fff;
  color: black;
}

.oauth img {
  width: 18px;
  height: 18px;
}

.google:hover {
  background: #f1f1f1;
}

.microsoft:hover {
  background: #f1f1f1;
}

.divider {
  text-align: center;
  margin: 8px 0;
  color: #777;
  font-size: 14px;
}
